<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>me.alimy.hori</string>
		<!-- assumes Hori is running under 'hori' account -->
		<!-- modify below to reflect your settings -->
		<key>UserName</key>
		<string>hori</string>
		<key>GroupName</key>
		<string>hori</string>
		<key>ProgramArguments</key>
		<array>
			<!-- assumes Hori is installed in /Users/hori -->
			<!-- modify below to reflect your settings -->
			<string>/Users/hori/hori</string>
			<string>serve</string>
		</array>
		<key>RunAtLoad</key>
		<true/>
		<key>KeepAlive</key>
		<true/>
		<!-- assumes Hori is installed in /Users/hori -->
		<!-- modify below to reflect your settings -->
		<key>WorkingDirectory</key>
		<string>/Users/hori/</string>
		<key>StandardOutPath</key>
		<string>/Users/hori/log/stdout.log</string>
		<key>StandardErrorPath</key>
		<string>/Users/hori/log/stderr.log</string>
		<!-- default 256 is too low for Gogs needs using parallel pipes -->
		<key>SoftResourceLimits</key>
		<dict>
			<key>NumberOfFiles</key>
			<integer>8192</integer>
		</dict>
	</dict>
</plist>
